{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Cardápio</title>
</head>
<body>
    <nav id="menu">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'cardapio' %}">Cardápio</a></li>
            <li><a href="{% url 'cadastro' %}">Cadastro</a></li>
        </ul>
    </nav>
    <h1 id="nome">Cardápio</h1>
    <br>
    <div class="imagens">
        <img src="{% static 'imagens/bolo200.jpg' %}" alt="bolo2">
        <p id="desc">Bolo de chocolate<br>R$2,50<br>1 fatia</p>
    </div>
    <div class="imagens">
        <img src="{% static 'imagens/bolo200.jpg' %}" alt="bolo2">
        <p id="desc">Bolo de chocolate<br>R$2,50<br>1 fatia</p>
    </div>
    <div class="imagens">
        <img src="{% static 'imagens/bolo200.jpg' %}" alt="bolo2">
        <p id="desc">Bolo de chocolate<br>R$2,50<br>1 fatia</p>
    </div>
    <div class="imagens">
        <img src="{% static 'imagens/bolo200.jpg' %}" alt="bolo2">
        <p id="desc">Bolo de chocolate<br>R$2,50<br>1 fatia</p>
    </div>
    <div class="imagens">
        <img src="{% static 'imagens/bolo200.jpg' %}" alt="bolo2">
        <p id="desc">Bolo de chocolate<br>R$2,50<br>1 fatia</p>
    </div>
    <div class="imagens">
        <img src="{% static 'imagens/bolo200.jpg' %}" alt="bolo2">
        <p id="desc">Bolo de chocolate<br>R$2,50<br>1 fatia</p>
    </div>
    <br>
    <div class="imagens">
        <img src="{% static 'imagens/bolo200.jpg' %}" alt="bolo2">
        <p id="desc">Bolo de chocolate<br>R$2,50<br>1 fatia</p>
    </div>
    <div class="imagens">
        <img src="{% static 'imagens/bolo200.jpg' %}" alt="bolo2">
        <p id="desc">Bolo de chocolate<br>R$2,50<br>1 fatia</p>
    </div>
    <div class="imagens">
        <img src="{% static 'imagens/bolo200.jpg' %}" alt="bolo2">
        <p id="desc">Bolo de chocolate<br>R$2,50<br>1 fatia</p>
    </div>
        <div class="imagens">
            <img src="{% static 'imagens/bolo200.jpg' %}" alt="bolo2">
            <p id="desc">Bolo de chocolate<br>R$2,50<br>1 fatia</p>
    </div>
    <div class="imagens">
        <img src="{% static 'imagens/bolo200.jpg' %}" alt="bolo2">
        <p id="desc">Bolo de chocolate<br>R$2,50<br>1 fatia</p>
    </div>
    <div class="imagens">
        <img src="{% static 'imagens/bolo200.jpg' %}" alt="bolo2">
        <p id="desc">Bolo de chocolate<br>R$2,50<br>1 fatia</p>
    </div>
</body>
</html>